/* trial */
body{ top: -130px; }
.stringeditor-aux.dp.date, .stringeditor-aux.dp.time, .choice-menu,.rd-pane, .stringeditor-aux.dp.timestamp {
    margin-top: 130px !important;
}
.rd-pane {
    height: 100vh;
}
.popupeditor2{ top: 46px !important }


.root {
    margin-top: 130px;
}
/* trial */

/* sakrivanje plusića kod odabirnog polja (kako bi korisnici prvo tražili postojeće) */
.i-setting-add:not(.hud-menu-button), [title="Create record"]:not(.hud-menu-button), .i-setting-trash{
    display: none;
}
/* pozadina popapova */
.nx-backplane.opaq{
    width: 95vw;
    height: 95vh;
    max-width: calc(100vw - 30px);
    max-height: calc(100vh - 30px);
    bottom: 20px;
    top: 20px;
    margin: 0 auto;
    outline: #1b2428 2px solid;
    resize: both;
    overflow: auto;
    min-width: 600px;
    min-height: 400px;
}
.nx-backplane{
    background: var(--app-drawer-scrim-background, rgba(0, 0, 0, 0.1));
    top: 130px !important;
    box-shadow: 0 10px 40px rgba(26, 36, 69, .88);
}


#userlane-react-root{
    display: none !important;
}


/* editor */
.CodeMirror *{
    caret-color: white !important;
    font-family: "Source Code Pro", monospace;
    color: #bfcccc;
    font-weight: 200 !important;
    line-height: 1.4em;
}
.CodeMirror{
	background: #1b2428;
}
.CodeMirror pre{
    line-height: 1.5;
}
.cm-s-default .cm-keyword {
    color: #c96ad7;
	font-weight: 200 !important;
}
.cm-s-default .cm-string {
    color: #87d979;
	font-weight: 200 !important;
}
.cm-s-default .cm-number {
    color: #1aae73;
}
.cm-s-default .cm-operator {
    color: #4aa5ca;
	font-weight: 600 !important;
}
.stringeditor-fn{
	cursor: not-allowed;
}
.CodeMirror-cursor {
    border-left: 1px solid white;
}
.CodeMirror-selected, .CodeMirror *::selection {
    background: #72e3ff24 !important;
	color: #333;
}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {
    color: #dcac55bf;
    font-style: italic;
}
.cm-s-default .cm-variable-2 {
    color: #96c5f5;
}
